.mailListItem {
    &.selectedItem {
        &:hover {
            background: #dae7ff;
        }
    }
    &:hover {
        background: rgb(240, 240, 240);
    }
    &.selected {
        background: #dae7ff;
    }
}
