.mm-message {
    position: fixed;
    top: 85px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1000;
}

.mm-message-content {
    max-width: 800px;
    background: rgba(0, 0, 0, 0.6);
    padding: 13px 64px;
    border-radius: 6px;
    margin-top: 8px;

    font-size: 14px;
    font-family: Avenir-Medium, Avenir;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 22px;
    display: flex;
    align-items: flex-start;
}

.mm-message-content-icon {
    margin-right: 8px;
    font-size: 20px;
}
